.friends-screen {
  height: 100%;
}

.friends-screen::-webkit-scrollbar {
  display: none;
}

#friends-display-link {
  display: block;
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 120px;
}

#friends-display-link,
#friends-display-link i,
#friends-display-link a {
  color: var(--lightwhite);
}

.friends-screen {
  padding: 0px var(--horizontal-space) 100px var(--horizontal-space);
}

.friends-screen__category {
  margin-top: 12px;
}

.friends-screen__category-header {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--lightwhite);
  border-top: 1px solid var(--main-border);
  padding-top: 10px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--black);
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--yellow); */
  color: var(--blue);
  font-size: 132px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}
