.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  color: var(--white);
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  background-color: var(--black);
  border-bottom: 1px solid var(--lightwhite);
  transition: border-color 0.4s ease-in-out;
}

#login-form input::placeholder {
  color: var(--lightwhite);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  color: var(--black);
  background-color: var(--blue);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  transform: all 0.3s linear ease-in-out;
}

#login-form input[type="submit"]:hover {
  color: var(--white);
  background-color: var(--hoverblack);
  transition: background-color 0.2s ease-in-out;
}

#login-form input[type="submit"]:active {
  transform: scale(0.98);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
