.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 30px;
  opacity: 0.6;
}

.icon-row__icon span {
  margin-top: 15px;
}

.more-suggestions {
  margin-top: 40px;
  border-top: 1px solid var(--main-border);
  /* padding-top: 20px; */
}

.more-suggestions__title {
  margin-bottom: 20px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.more-suggestions__icon {
  /* margin-right: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 50px;
  height: 50px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
}

.icon-row__icon:empty,
.more-suggestions__icon:empty {
  width: 57.5px;
  height: 66px;
}
