/* .user-component__column img, */
.user-component,
.message-row img {
  cursor: pointer;
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.modalImg {
  width: 50%;
  max-width: 400px;
}
.close {
  z-index: 3;
  color: var(--white);
  font-size: 22px;
  position: absolute;
  top: 13em;
  right: 3em;
}

.modal.appear {
  opacity: 1;
  pointer-events: all;
}

.modal.appear .modalImg {
  animation: zoom 0.3s linear;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
