.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  padding: 20px 50px;
  box-sizing: border-box; /*do not increase the box size*/
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: var(--lightwhite);
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 0.5s ease-in-out infinite;
}

.nav__ellipsis {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
