.weather {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.weather-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.weather-column__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
}

.weather-info-tmr {
  display: flex;
  flex-direction: column;
}

.city {
  margin: 5px 0px;
}

.weather-column__info__today {
  font-size: 28px;
}

.weather-info-tmr__when {
  font-size: 12px;
  opacity: 0.5;
}

.weather-info-tmr__info {
  margin-top: 5px;
  font-size: 22px;
}

.fa-compass {
  opacity: 0.7;
}
.fa-cloud {
  animation: cloudColor 1.6s ease-in-out infinite;
}

.fa-sun {
  color: #ffcc32;
  opacity: 0.7;
}
